@model DataAnalysis.Models.Stock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Open)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Open)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.High)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.High)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Low)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Low)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Close)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Close)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SplitFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SplitFactor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
